#section1 h2 {
  font-size: 28px;
  line-height: 33px;
}
.wide {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: getColor("text-grey");
  margin-bottom: 20px;
}
.main-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: getColor("text-grey");
  margin-bottom: 40px;
}

.about-us {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}
.about-pictures {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    order: -1;
  }
}
