header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    a {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.1em;
        color: getColor("white");

    }
}

.navigation {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .btn {
        margin-left: 40px;
    }

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        flex-wrap: wrap;

        .order-2 {
            order: 2;
            margin-right: 20px;
        }
    }

    @media screen and (min-width: $desktop) {
        flex-wrap: nowrap;
    }
}

.main-nav {
    display: flex;
    align-items: center;
    margin-right: auto;

    .logo {
        margin-right: 71px;
    }
}

.main-nav-links-list {
    display: flex;
    align-items: center;

    li {
        &:not(:last-child) {
            margin-right: 40px;
        }
    }
}

.slide-controls {
    @media screen and (max-width: 767px) {
        display: none;
    }

    position: absolute;
    bottom: 40px;
    right: 39px;
    display: flex;

    li:first-child {
        margin-right: 60px;
    }

    a {
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 0.1em;
        color: rgba(157, 164, 189, 0.6);
    }
}

.navigation {
    @media screen and (max-width: 767px) {

        .main-nav-links-list,
        .order-2,
        .btn.btn-secondary {
            display: none;
        }
    }
}