@media screen and (min-width:$desktop) {
  .desktop-wrap {
    display: flex;
    justify-content: space-between;

    .desktop-item {
      width: calc(100%/2);

      .item {
        width: 100%;
      }
    }
  }
}

#form-to-sign {
  background: #191c26;

  h2 {
    margin-bottom: 44px;
    text-align: center;

    @media screen and (min-width: $tablet) {
      text-align: left;
    }
  }
}

.sign {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  label {

    &:hover,
    &:focus {
      color: getColor("white");
    }

    @media screen and (min-width: $tablet) {
      width: calc((100% - 1 * 30px) / 2);
    }
  }

  input {
    border: transparent;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    width: 100%;
    height: 24px;
    margin-bottom: 44px;
    background: transparent;

    &:hover,
    &:focus {
      color: getColor("white");
      border-bottom: 1px solid getColor("white");
    }
  }

  textarea {
    border: transparent;
    background: transparent;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    width: 100%;
    height: 76px;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.4);
    margin-bottom: 44px;

    &:hover,
    &:focus {
      color: getColor("white");
      border-bottom: 1px solid getColor("white");
    }
  }

  button {
    display: block;
    margin: auto;

    @media screen and (min-width: $tablet) {
      display: inline-block;
      margin: 0px;
    }
  }
}